<!-- STYLE -->
<style>
  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 2rem;
    bottom: 5px;
  }

  form {
    width: 22rem;
    margin: 0 auto;
    line-height: 1rem
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  #typedName {
    text-transform: uppercase;
  }

  .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
</style>

<!DOCTYPE html>
<!-- HTML -->

<head>
  <%- include('../partials/head') %>
</head>

<header>
  <%- include('../partials/header') %>
</header>
<div id="result">

</div>

<!-- FORM -->
<div class="container">
  <form id="form-add-card">
    <h3>Incluir cartão de crédito</h3>
    <br>
    <div class="form-group">

      <div class="form-floating mb-3">
        <input type="text" id="cardNumber" name="cardNumber" class="form-control form-control-sm" required />
        <label for="cardNumber" class="form-label">Número do cartão - Sem espaços</label>
      </div>



      <div class="form-floating mb-3">
        <input type="text" id="holderName" name="holderName" class="form-control form-control-sm" required />
        <label for="holderName" class="form-label">Nome Impresso no Cartão</label>
      </div>



      <div class="form-floating mb-3">
        <input type="text" id="securityCode" name="securityCode" class="form-control form-control-sm" required />
        <label for="securityCode" class="form-label">Código de Segurança</label>
      </div>



      <div class="form-floating mb-3">
        <input type="text" id="expirationMonth" name="expirationMonth" class="form-control form-control-sm" required />
        <label for="expirationMonth" class="form-label">Mês de Vencimento</label>
      </div>



      <div class="form-floating mb-3">
        <input type="text" id="expirationYear" name="expirationYear" class="form-control form-control-sm" required />
        <label for="expirationYear" class="form-label">Ano de Vencimento - 4 Dígitos</label>
      </div>


      <div>
        <button id="btn_save" type="button" class="btn btn-sm btn-success">Salvar</button>

        <a href="/user/profile" class="btn btn-sm btn-outline-success">Voltar</a>
      </div>
    </div>

    <div id="hash"></div>
  </form>



  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</div>


<script src="/js/addCard.js"></script>

<script type="text/javascript" src="https://sandbox.boletobancario.com/boletofacil/wro/direct-checkout.min.js"></script>
<script> window.DirectCheckout = DirectCheckout;</script>