<!-- STYLE -->
<style>
  form {
    width: 400px;
    margin: 0 auto;
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  #name {
    text-transform: uppercase;
  }
</style>

<!DOCTYPE html>
<!-- HTML -->

<head>
  <%- include('../partials/head') %>
</head>

<header>
  <%- include('../partials/header') %>
</header>
<div id="result">

</div>

<!-- FORM -->
<div class="container">
  <form id="form-new-company">
    <h2>Incluir Fornecedor</h2>
    <br>
    <div class="form-group">
      <label for="companyType">Tipo de Serviço</label>
      <select class="form-control form-control-sm" id="companyType" name="companyType" required>
        <option selected>Escolha o tipo de serviço...</option>
      </select>
    </div>
    <hr>
    <div class="mb-3">
      <label for="name" class="form-label">Empresa</label>
      <select class="form-control" id="companyName" name="companyName" required>
        <option selected>Escolha uma empresa aqui</option>

        <label for="name" class="form-label">Não encontrou na lista, digite aqui.</label>
        <input type="text" id="name" name="name" class="form-control"
          placeholder="Não encontrei na lista, prefiro digitar." required />
    </div>


    <div class="mb-3">
      <label for="cnpj" class="form-label">CNPJ</label>
      <input type="cnpj" id="cnpj" name="cnpj" class="form-control" placeholder="Sem traços nem pontos" required />
    </div>


    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <textarea type="description" class="form-control" id="description" rows="3" name="description"
        placeholder="Descreva em poucas palavras o serviço prestado."> </textarea>
    </div>


    <div>
      <button id="btn_save" type="button" class="btn btn-success">Salvar</button>

      <a href="/index" class="btn btn-outline-success">Voltar</a>
    </div>
  </form>
</div>

<footer>
  <%- include('../partials/footer') %>
</footer>

<script src="/js/company.js"></script>