<!-- STYLE -->
<style>
  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 2rem;
    bottom: 5px;
  }

  form {
    width: 22rem;
    margin: 0 auto;
    line-height: 1rem
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  #typedName {
    text-transform: uppercase;
  }

  .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
</style>

<!DOCTYPE html>
<!-- HTML -->

<head>
  <%- include('../partials/head') %>
</head>

<header>
  <%- include('../partials/header') %>
</header>
<div id="result">

</div>

<!-- FORM -->
<div class="container">
  <form id="form-new-company">
    <h4 class="form-title">Incluir Fornecedor</h4>
    <br>
    <div class="form-group">

      <div class="form-floating mb-3">
        <select class="form-control form-control-sm" id="companyType" name="companyType" required>
          <option selected></option>
        </select>
        <label for="companyType" class="form-label">Escolha um serviço</label>
      </div>

      <hr>

      <div class="form-floating mb-3">
        <select class="form-control form-control-sm" id="companyName" name="companyName" required>
          <option selected></option>
        </select>
        <label for="companyName" class="form-label">Escolha uma empresa</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" id="typedName" name="typedName" class="form-control form-control-sm" required />
        <label for="typedName" class="form-label">Ou crie uma nova</label>
      </div>
      <hr>

      <div class="form-floating mb-3">
        <input type="text" id="cnpj" name="cnpj" class="form-control form-control-sm" required />
        <label for="cnpj" class="form-label">CNPJ</label>
      </div>


      <div class="form-floating mb-3">
        <textarea type="description" class="form-control" id="description" rows="3" name="description"> </textarea>
        <label for="description" class="form-label">Descrição</label>
      </div>
    </div>

    <div>
      <button id="btn_save" type="button" class="btn btn-sm btn-success">Salvar</button>

      <a href="/index" class="btn btn-sm btn-outline-success">Voltar</a>
    </div>
  </form>




  <footer>
    <%- include('../partials/footer') %>
  </footer>
</div>


<script src="/js/company.js"></script>