<section class="menu">
  <dl>
    <dt>Fornecedores</dt>
    <dd>Novo Fornecedor</dd>
    <dd>Listar Fornecedores</dd>
  </dl>
</section>

<!-- <script src="js/accountScript.js"></script> -->
<script src="js/accountScript2test.js"></script>