<!-- STYLE -->
<style>
  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 22rem;
    margin: 0 auto;
    line-height: 1rem
  }

  footer {
    margin-top: 2rem;
    bottom: 5px;
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .icon :hover {
    color: thistle;
  }

  .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
</style>

<!-- HTML -->
<!DOCTYPE html>

<head>
  <%- include('../partials/head') %>
</head>


<header>
  <%- include('../partials/header') %>
</header>

<!-- FORM -->
<div class="container">
  <form id="form-createAccount">

    <h2>Criar Conta Digital</h2>
    <br>

    <div class="mb-3">
      <input type="text" id="name" name="name" value="" class="form-control form-control-sm" readonly required
        placeholder="Nome" />
      <!-- <label for="name" class="form-label">Nome</label> -->
    </div>

    <div class="mb-3">
      <input type="email" id="email" name="email" value="" class="form-control form-control-sm" placeholder="Email"
        readonly required />
      <!-- <label for="email" class="form-label">Email</label> -->
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="cpf" name="cpf" class="form-control form-control-sm" required />
      <label for="cpf" class="form-label">CPF</label>
    </div>

    <div class="form-floating mb-3">
      <input type="date" id="birthDate" name="birthDate" class="form-control form-control-sm" required />
      <label for="birthDate" class="form-label">Data de Nascimento</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="phone" name="phone" class="form-control form-control-sm" required />
      <label for="phone" class="form-label">Telefone [DDD+Numero]</label>
    </div>

    <hr>


    <!-- ENDEREÇO -->

    <h3>Endereço</h3>

    <div class="input-group form-floating mb-3">
      <input type="text" id="postCode" name="postCode" class="form-control form-control-sm col-md-6" required />
      <label for="postCode" class="form-label"> Digite seu CEP e clique no botão</label>
      <span class="input-group-text" id="basic-addon1">
        <button id="btn_cep" type="button" class="btn btn-sm btn-success">
          <img src="../imgs/lupa.png" class="icon" alt="">
        </button>
      </span>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="street" name="street" class="form-control form-control-sm" required />
      <label for="street" class="form-label">Rua</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="number" name="number" class="form-control form-control-sm" required />
      <label for="number" class="form-label">Número</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="complement" name="complement" class="form-control form-control-sm" />
      <label for="complement" class="form-label">Complemento</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="neighborhood" name="neighborhood" class="form-control form-control-sm" required />
      <label for="neighborhood" class="form-label">Bairro</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="city" name="city" class="form-control form-control-sm" required />
      <label for="city" class="form-label">Cidade</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" id="state" name="state" class="form-control form-control-sm" required />
      <label for="state" class="form-label">Estado</label>
    </div>
    <hr>


    <!-- RENDA MENSAL -->

    <h3>Renda Mensal</h3>
    <div class="form-floating mb-3">
      <input type="number" id="monthlyIncome" name="monthlyIncome" class="form-control form-control-sm" required />
      <label for="monthlyIncome" class="form-label">Valor sem virgula ou ponto</label>
    </div>

    <hr>


    <!-- DADOS BANCARIOS -->
    <!-- <div class="mb-3">
        <h3>Dados Bancarios</h3>
        <label for="bankNumber" class="form-label">Banco Nº</label>
        <input type="text" id="bankNumber" name="bankNumber" class="form-control" required />

        <label for="agencyNumber" class="form-label">Agência</label>
        <input type="text" id="agencyNumber" name="agencyNumber" class="form-control" required />

        <label for="accountNumber" class="form-label">Numero da Conta</label>
        <input type="text" id="accountNumber" name="accountNumber" class="form-control" required />
      </div> -->

    <!-- TITULAR DA CONTA -->
    <!-- <div class="mb-3">
        <h3>Titular da Conta</h3>
        <label for="holderName" class="form-label">Nome do titular da conta</label>
        <input type="text" id="holderName" name="holderName" class="form-control" required />

        <label for="holderDocument" class="form-label">CPF</label>
        <input type="text" id="holderDocument" name="holderDocument" class="form-control" required />
      </div> -->


    <button id="btn_digital_account" type="button" class="btn btn-sm btn-success">Criar</button>

    <a href="/index" class="btn btn-sm btn-outline-success">Voltar</a>

  </form>


  <footer>
    <%- include('../partials/footer') %>
  </footer>
</div>



<!-- SCRIPT -->
<script defer src="/js/createAccount.js"></script>