<!-- STYLE -->
<style>
  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 22rem;
    margin: 0 auto;
    line-height: 1rem
  }

  footer {
    margin-top: 2rem;
    bottom: 5px;
  }

  input:valid {
    border: 1px solid lightgreen;
  }
</style>


<!-- HTML -->
<!DOCTYPE html>

<head>
  <%- include('../partials/head') %>
</head>

<header>
  <%- include('../partials/header') %>
</header>

<!-- FORM -->
<div class="container">
  <form id="form-new-invoice">
    <h2>Cadastrar Fatura</h2>
    <br>
    <div class="form-group">

      <div class="form-floating mb-3">
        <select class="form-control form-control-sm" id="companyName" name="companyName" required>
          <option selected>Escolha uma</option>
        </select>
        <label for="companyName">Empresa</label>

        <div class="form-floating mb-3">
          <input type="text" id="cnpj" name="cnpj" class="form-control form-control-sm" readonly required />
          <label for="companyName">CNPJ</label>
        </div>
      </div>

      <hr>

      <div class="form-floating mb-3">
        <input type="number" id="amount" name="amount" class="form-control form-control-sm" required />
        <label for="amount" class="form-label">Valor à ser pago</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" id="barcodeNumber" name="barcodeNumber" class="form-control form-control-sm" required />
        <label for="barcodeNumber" class="form-label">Número de pagamento | Linha digitável</label>
      </div>


      <div class="form-floating mb-3">
        <input type="date" id="dueDate" name="dueDate" class="form-control form-control-sm" required />
        <label for="dueDate" class="form-label">Vencimento</label>
      </div>


      <div class="form-floating mb-3">
        <textarea type="description" class="form-control form-control-sm" id="description" rows="3"
          name="description"> </textarea>
        <label for="description" class="form-label">Descrição</label>
      </div>


      <div>
        <button id="btn_save" type="button" class="btn btn-sm btn-success">Salvar</button>

        <a href="/index" class="btn btn-sm btn-outline-success">Voltar</a>
      </div>
    </div>
  </form>




  <footer>
    <%- include('../partials/footer') %>
  </footer>
</div>




<!-- SCRIPT -->
<script src="/js/invoice.js"></script>