<section class="menu">
  <dl>
    <dt>Faturas</dt>
    <dd>Faturas Pagas</dd>
    <dd>Faturas à Vencer</dd>
  </dl>
</section>

<!-- <script src="js/accountScript.js"></script> -->
<script src="js/accountActions.js"></script>