<section class="menu">
  <dl>
    <dt>Meu Perfil</dt>
    <dd>Visualizar Dados</dd>
    <dd>Alterar dados</dd>
  </dl>
</section>

<!-- <script src="js/accountScript.js"></script> -->
<script src="js/accountActions.js"></script>