<!-- STYLE -->
<style>
  .container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 12px;
  }

  .verify_status {

    background-color: #2F8754;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  .verify_documents {
    color: white;
    background-color: #2F8754;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  /* .account_status,
  .doc_status {
    height: 6rem;
  } */

  .form-title {
    color: white;
    background-color: #2F8754;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  #form-send-documents {
    padding-left: 1rem;
  }


  input:valid {
    border: 1px solid lightgreen;
  }
</style>

<!DOCTYPE html>
<!-- HTML -->

<head>
  <%- include('../partials/head') %>
</head>

<header>
  <%- include('../partials/header') %>
</header>

<!-- FORM -->


<div class="container">

  <div class="account_status">
    <h3 class="verify_status">Status da Conta Digital</h3>
    <p id="status-result"></p>
  </div>

  <div class="doc_status">
    <h3 class="verify_documents">Status da Documentação</h3>
    <p id="docs-result"></p>
  </div>

  <h3 class="form-title">Enviar documentos para ativação da conta digital.</h3>
  <form enctype="multipart/form-data" id="form-send-documents">
    <p style="color: red;"><strong>Assim que escolhido o envio é feito automaticamente.</strong></p>
    <div class="form-group">
      <label for="cpf-upload">CPF</label>
      <div>
        <input type="file" id="cpf-upload" name="cpf-upload" />
      </div>
      <br>
      <label for="selfie-upload">Selfie</label>
      <div>
        <input type="file" id="selfie-upload" name="selfie-upload" />

      </div>

    </div>
    <br>

    <div>
      <p id="send-docs-result"></p>
      <a href="/index" class="btn btn-sm btn-outline-success">Voltar</a>
      <!-- <a href="#" id="test" class="btn btn-outline-success">test</a>
      <a href="#" type="button" class="btn btn-success" id="send_documents">Enviar</a> -->
    </div>
  </form>
</div>




<footer>
  <%- include('../partials/footer') %>
</footer>

<script src="/js/sendDocuments.js"></script>
<!-- <script src="js/accountScript2test.js"></script> -->