<!DOCTYPE html>
<!-- STYLE -->

<style>
  .container {
    width: 500px;
    margin: 0 auto;
    /* border: 1px dotted gray; */
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  form {
    width: 400px;
    margin: 0 auto;
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  /* input:invalid {
    border: 1px dashed rosybrown;
  } */
</style>

<!-- HTML -->

<head>
  <%- include('../partials/head') %>
    <script src="js/createAccountScript.js"></script>
</head>

<!-- FORM -->

<body>
  <div class="container">
    <form id="form-createAccount">
      <h1>Criar Conta Digital</h1>

      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" id="name" name="name" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="document" class="form-label">Documento: RG/CPF</label>
        <input type="text" id="document" name="document" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="birthDate" class="form-label">Data de Nascimento</label>
        <input type="text" id="birthDate" name="birthDate" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Telefone</label>
        <input type="text" id="phone" name="phone" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="businessArea" class="form-label">Área de Negócio</label>
        <input type="number" id="businessArea" name="businessArea" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="linesOfBusiness" class="form-label">Tipo do Negócio</label>
        <input type="number" id="linesOfBusiness" name="linesOfBusiness" class="form-control" required />
      </div>


      <!-- ENDEREÇO -->
      <div class="mb-3">
        <h3>Endereço</h3>
        <label for="street" class="form-label">Rua</label>
        <input type="text" id="street" name="street" class="form-control" required />

        <label for="number" class="form-label">Número</label>
        <input type="text" id="number" name="number" class="form-control" required />

        <label for="complement" class="form-label">Complemento</label>
        <input type="text" id="complement" name="complement" class="form-control" required />

        <label for="neighborhood" class="form-label">Bairro</label>
        <input type="text" id="neighborhood" name="neighborhood" class="form-control" required />

        <label for="city" class="form-label">Cidade</label>
        <input type="text" id="city" name="city" class="form-control" required />

        <label for="state" class="form-label">Estado</label>
        <input type="text" id="state" name="state" class="form-control" required />

        <label for="postCode" class="form-label">CEP</label>
        <input type="text" id="postCode" name="postCode" class="form-control" required />

        <label for="street" class="form-label">Nome</label>
        <input type="text" id="street" name="street" class="form-control" required />
      </div>

      <!-- DADOS BANCARIOS -->
      <div class="mb-3">
        <h3>Dados Bancarios</h3>
        <label for="bankNumber" class="form-label">Banco Nº</label>
        <input type="text" id="bankNumber" name="bankNumber" class="form-control" required />

        <label for="agencyNumber" class="form-label">Agência</label>
        <input type="text" id="agencyNumber" name="agencyNumber" class="form-control" required />

        <label for="accountNumber" class="form-label">Numero da Conta</label>
        <input type="text" id="accountNumber" name="accountNumber" class="form-control" required />

        <label for="motherName" class="form-label">Nome da Mãe</label>
        <input type="text" id="motherName" name="motherName" class="form-control" required />

        <label for="motherName" class="form-label">Nome da Mãe</label>
        <input type="text" id="motherName" name="motherName" class="form-control" required />
      </div>

      <!-- TITULAR DA CONTA -->
      <div class="mb-3">
        <h3>Titular da Conta</h3>
        <label for="name" class="form-label">Nome do titular da conta</label>
        <input type="text" id="name" name="name" class="form-control" required />

        <label for="document" class="form-label">Documento: RG/CPF</label>
        <input type="text" id="document" name="document" class="form-control" required />
      </div>



      <div>
        <button id="btn_digital_account" type="button" class="btn btn-primary">Criar</button>

        <a href="/" class="btn btn-primary">Voltar</a>
      </div>
    </form>
  </div>

  <footer>
    <%- include('../partials/footer') %>
  </footer>


</body>