<!DOCTYPE html>
<!-- CSS -->
<style>
  body {
    margin: 0 auto;
  }

  .container {
    width: 500px;
    margin: 0 auto;
    /* border: 1px dotted gray; */
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  form {
    width: 400px;
    margin: 0 auto;
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }

  footer {
    margin-top: 10rem;
  }
</style>


<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="container">
    <form id="form-forgot-password">
      <h2>Esqueci a senha.</h2>


      <div class="mb-3">
        <label for="email" class="form-label">Digite o email usado no seu cadastrado.</label>
        <input type="email" class="form-control" id="email" name="email" required />
      </div>
      <button id="btn_forgot_password" type="button" class="btn btn-success">Enviar</button>

      <a href="/login" class="btn btn-success">Voltar</a>
      <hr>
      <h4>Após o envio, confira seu email.</h4>
    </form>

    <footer>
      <%- include('../partials/footer') %>
    </footer>

    <script src="js/forgot_password.js"></script>
</body>