<!-- CSS -->
<style>
  .output {
    text-decoration: none;
    color: green;
  }

  a {
    text-decoration: none;
  }

  a.btn {
    /* width: 170px; */
    font-size: 12px;
  }

  .account_balance {
    height: 6rem;
    text-align: center;
    padding-right: 2rem;
    font-size: 1.4rem;
    border: 1px solid red;
  }

  .account_balance p {
    /* font-size: 24px; */
  }

  .menu {
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 1rem 1rem;
    border-radius: 10px;
    text-align: center;
  }

  .card {
    border-radius: 10px;
    padding: 2rem 1rem;
    vertical-align: middle;
  }
</style>

<!-- <div class="jumbotron mr-auto"> -->

<!-- SALDO -->
<div class="account_balance">
  <h5">Saldo atual</h5>
    <p id="balance-result">1075</p>
</div>


<menu class="menu">

  <!-- <div class="row row-cols-4 g-1"> -->
  <div class="row">
    <!-- FORNECEDORES -->
    <div class="col">
      <div class="card">
        <h5 class="card-title">Fornecedores</h5>
        <img src="imgs/barcode-bro.svg" class="card-img-top" alt="Garota conferindo caixas com código de barras">
        <div class="card-body">
          <h5 class="card-buttons">
            <a href="/account/company-page" class="btn btn-sm btn-success" type="button" id="new_company">Novo
              Fornecedor</a>
          </h5>
          <!-- <p class="card-text">Cadastre um novo fornecedor.</p> -->

          <h5 class="card-buttons">
            <a href="#" class="btn btn-sm btn-outline-success disabled">Listar Fornecedores</a href="#">
          </h5>
          <!-- <p class="card-text">Ver a lista de fornecedores.</p> -->
        </div>
        <!-- FIM CARD BODY -->
      </div>
      <!-- FIM CARD -->
    </div>
    <!-- FIM FORNECEDORES -->

    <!-- CONTA DIGITAL -->
    <div class="col">
      <div class="card">
        <h5 class="card-title">Conta Digital</h5>
        <img src="imgs/atm-machine-bro.svg" class="card-img-top" alt="Rapaz retirando dinheiro no caixa eletrônico">
        <div class="card-body">

          <h5 class="card-buttons">
            <a href="/account/send-documents" class="btn btn-success" type="button" id="send_documents">Verificar
              conta
              Digital</a>
          </h5>
          <!-- <p class="card-text">Texto.</p> -->

          <h5 class="card-buttons">
            <a href="#" class="btn btn-outline-success disabled" type="button" id="credit_insert">Inserir Créditos na
              conta</a>
          </h5>
          <!-- <p class="card-text">Texto</p> -->

          <h5 class="card-buttons">
            <a href="/account/create" class="btn btn-success" type="button" id="create_account">Criar conta
              digital</a>
          </h5>
          <!-- <p class="card-text">Texto</p> -->

          <h5 class="card-buttons">
            <a href="#" class="btn btn-outline-success disabled">Alterar dados da conta</a>
          </h5>
          <!-- <p class="card-text">Texto</p> -->
        </div>
        <!-- FIM CARD BODY -->
      </div>
      <!-- FIM CARD -->
    </div>
    <!-- FIM CONTA DIGITAL -->

    <!-- FATURAS -->
    <div class="col">
      <div class="card">
        <h5 class="card-title">Faturas</h5>
        <img src="imgs/invoice-bro.svg" class="card-img-top" alt="ALT TEXT">
        <div class="card-body">

          <h5 class="card-buttons">
            <a href="/account/invoice" class="btn btn-success" type="button" id="new_invoice">Cadastrar
              Fatura</a>
          </h5>
          <!-- <p class="card-text">Texto.</p> -->

          <h5 class="card-buttons">
            <a href="/account/invoices/list-open" class="btn btn-success">Faturas à Vencer</a>
          </h5>
          <!-- <p class="card-text">Texto</p> -->

          <h5 class="card-buttons">
            <a href="#" class="btn btn-outline-success disabled">Faturas Pagas</a>
          </h5>
          <!-- <p class="card-text">Texto</p> -->

        </div>
        <!-- FIM CARD BODY -->
      </div>
      <!-- FIM CARD -->
    </div>
    <!-- FIM FATURAS -->

    <!-- MEU PERFIL -->
    <div class="col">
      <div class="card">
        <h5 class="card-title">Meu Perfil</h5>
        <img src="imgs/profile-pic-bro.svg" class="card-img-top" alt="ALT TEXT">
        <div class="card-body">

          <h5 class="card-buttons">
            <a href="/user/profile" class="btn btn-success">Visualizar dados</a>
          </h5>
          <!-- <p class="card-text">Texto.</p> -->

          <h5 class="card-buttons">
            <a href="#" class="btn btn-outline-success disabled">Alterar dados</a>
          </h5>
          <!-- <p class="card-text">Texto</p> -->

        </div>
        <!-- FIM CARD BODY -->
      </div>
      <!-- FIM CARD -->
    </div>
    <!-- FIM MEU PERFIL -->

  </div>
  <!-- FIM DIV GRID -->

</menu>
<!-- FIM MENU -->

<!-- </div> -->
<!-- FIM CONTAINER JUMBOTRON -->




<script src="js/accountActions.js"></script>
<script src="js/main.js"></script>

<!-- <script src="js/accountScript2test.js"></script> -->