<!-- CSS -->
<style>
  .output {
    text-decoration: none;
    color: green;
  }

  a {
    text-decoration: none;
  }

  h3 {
    color: indigo;
  }
</style>


<div class="jumbotron mr-auto">
  <p id="description">
  <h3> Bem vindo!</h3>
  </p>
  <br />
  <section class="menu">
    <dl>
      <dt>Fornecedores</dt>
      <dd>Novo Fornecedor</dd>
      <dd>Listar Fornecedores</dd>
      <hr>
      <dt>Faturas</dt>
      <dd>Faturas Pagas</dd>
      <dd>Faturas à Vencer</dd>
      <hr>
      <dt>Meu Perfil</dt>
      <dd>Alterar dados</dd>
      <hr>
      <dt>Conta Digital</dt>
      <dd><a href="#" type="button" id="balance">Consultar Saldo</a></dd>
      <dd><a href="#" type="button" id="account_status">Visualizar situação</a></dd>
      <dd><a href="#" type="button" id="verify_documents">Verificar documentos</a></dd>
      <br>
      <dd>Criar conta digital</dd>
      <dd>Alterar dados da conta</dd>
    </dl>
  </section>
</div>

<!-- <script src="js/accountScript.js"></script> -->
<script src="js/accountScript2test.js"></script>