<!-- CSS -->
<style>
  .output {
    text-decoration: none;
    color: green;
  }

  h4 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .menu {
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
  }

  /* .menu .card {
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1rem;
    ;
  } */
</style>




<div class="jumbotron mr-auto">

  <h4 id="welcome-title"> Bem vindo Nome!
  </h4>

  <menu class="menu">
    <dl class="card">
      <dt>Fornecedores</dt>
      <dd><a href="account/company" type="button" id="new_company">Novo Fornecedor</a></dd>
      <dd>Listar Fornecedores</dd>
    </dl>
    <dl class="card">
      <dt>Faturas</dt>
      <dd>Cadastrar Fatura</dd>
      <dd>Faturas à Vencer</dd>
      <dd>Faturas Pagas</dd>
    </dl>
    <dl class="card">
      <dt>Meu Perfil</dt>
      <dd>Visualizar dados</dd>
      <dd>Alterar dados</dd>
    </dl>
    <dl class="card">
      <dt>Conta Digital</dt>
      <dd><a href="#" type="button" id="balance">Consultar Saldo</a></dd>
      <dd><a href="#" type="button" id="account_status">Visualizar situação</a></dd>
      <dd><a href="#" type="button" id="verify_documents">Verificar documentos</a></dd>
      <dd><a href="#" type="button" id="credit_insert">Inserir Créditos na conta</a></dd>
      <dd><a href="account/create" type="button" id="create_account">Criar conta digital</a></dd>
      <dd>Alterar dados da conta</dd>
    </dl>
  </menu>
</div>




<script src="js/accountActions.js"></script>
<!-- <script src="js/accountScript2test.js"></script> -->