<!-- CSS -->
<style>
  .output {
    text-decoration: none;
    color: green;
  }

  a {
    text-decoration: none;
  }

  .account_balance {
    height: 6rem;
    text-align: center;
    padding-right: 2rem;
    font-size: 2rem;
  }

  .account_balance p {
    /* font-size: 24px; */
  }

  .menu {
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
  }

  /* .menu .card {
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1rem;
    ;
  } */
</style>




<div class="jumbotron mr-auto">

  <!-- SALDO -->
  <div class="account_balance">
    <h3">Saldo atual</h3>
      <p id="balance-result"></p>
  </div>


  <menu class="menu">

    <!-- SE DER TEMPO APLICAR ESSE LAYOUT COM CARDS -->
    <!-- <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="imgs/escobar.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Fornecedores</h5>
        <p class="card-text">Lista de empresas que fornecem serviços.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <a href="#">Cras justo odio</a> </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div> -->

    <!-- FORNECEDORES -->
    <dl class="card">
      <h2>Fornecedores</h2>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/account/company-page" class="btn btn-md btn-success" type="button" id="new_company">Novo
          Fornecedor</a>
        <a href="#" class="btn btn-outline-success disabled">Listar Fornecedores</a href="#">
      </div>
    </dl>



    <!-- CONTA DIGITAL -->
    <dl class="card">
      <h2>Conta Digital</h2>
      <div class="d-grid gap-2 col-6 mx-auto">

        <!-- <a href="#" class="btn btn-success" type="button" id="balance">Consultar Saldo</a> -->

        <a href="/account/send-documents" class="btn btn-success" type="button" id="send_documents">Verificar conta
          Digital</a>
        <!-- <p id="send-docs-result"></p> -->

        <a href="#" class="btn btn-outline-success disabled" type="button" id="credit_insert">Inserir Créditos na
          conta</a>
        <a href="/account/create" class="btn btn-success" type="button" id="create_account">Criar conta
          digital</a>

        <a href="#" class="btn btn-outline-success disabled">Alterar dados da conta</a>

        <!-- <a href="#" class="btn btn-success" type="button" id="account_status">Status da Conta Digital</a>
                <p id="status-result"></p> -->

        <!-- <a href="#" type="button" id="verify_documents">Status da Documentação</a>
                <p id="docs-result"></p> -->
      </div>
    </dl>
    <!-- FIM CONTA DIGITAL -->


    <!-- FATURAS -->
    <dl class="card">
      <h2>Faturas</h2>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/account/invoice" class="btn btn-success" type="button" id="new_invoice">Cadastrar
          Fatura</a>
        <a href="/account/invoice/list-open" class="btn btn-success">Faturas à Vencer</a>
        <a href="#" class="btn btn-outline-success disabled">Faturas Pagas</a>
      </div>
    </dl>


    <!-- PERFIL -->
    <dl class="card">
      <h2>Meu Perfil</h2>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/user/profile" class="btn btn-success">Visualizar dados</a>
        <a href="#" class="btn btn-outline-success disabled">Alterar dados</a>
      </div>
    </dl>


    </ul>
</div>
</menu>
</div>




<script src="js/accountActions.js"></script>
<script src="js/main.js"></script>

<!-- <script src="js/accountScript2test.js"></script> -->