<div class="jumbotron mr-auto">
  <p id="description"><strong> Bem vindo!</strong></p>
  <br />
  <section class="menu">
    <ul>
      <li>Fornecedores</li>
      <ul>
        <li>Novo Fornecedor</li>
        <li>Listar Fornecedores</li>
      </ul>
      <li>Faturas Pagas</li>
      <li>Faturas à Vencer</li>
      <li>Meu Perfil</li>
      <ul>
        <li>Criar conta digital</li>
        <li>Visualizar informações</li>
        <li>Alterar dados</li>
        <li><a href="#" type="button" id="balance">Consultar Saldo</a></li>

        <li><a href="#"> Listar cobranças teste</a></li>
      </ul>
    </ul>
  </section>
</div>

<script src="js/accountScript.js"></script>
<!-- <script src="src/controllers/account.controller.js"></script> -->