<!-- CSS -->
<style>
  .output {
    text-decoration: none;
    color: green;
  }

  a {
    text-decoration: none;
  }

  .card {
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 10rem;
    /* margin: 1rem 3rem; */
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: 1px solid red;
  }

  .account_balance {
    height: 6rem;
    text-align: center;
    padding-right: 2rem;
    font-size: 2rem;
  }

  .account_balance p {
    /* font-size: 24px; */
  }

  .menu {
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
  }
</style>






<!-- SALDO -->
<div class="account_balance">
  <h3">Saldo atual</h3>
    <p id="balance-result"></p>
</div>

<menu class="menu">

  <!-- SE DER TEMPO APLICAR ESSE LAYOUT COM CARDS -->
  <!-- FORNECEDORES -->
  <div class="card">
    <img class="card-img-top" src="imgs/escobar.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">Fornecedores</h5>
      <p class="card-text">Lista de empresas que fornecem serviços.</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/account/company-page" class="btn btn-md btn-success" type="button" id="new_company">Novo
          Fornecedor</a>
      </li>

      <li class="list-group-item">
        <a href="#" class="btn btn-outline-success disabled">Listar Fornecedores</a href="#">
      </li>
    </ul>

    <div class="card-body">
      <a href="#" class="card-link"></a>
      <a href="#" class="card-link"></a>
    </div>
  </div>


  <!-- CONTA DIGITAL -->
  <div class="card">
    <img class="card-img-top" src="imgs/escobar.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">Conta Digital</h5>
      <p class="card-text">Aqui você pode consultar e operar sua conta.</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/account/send-documents" class="btn btn-success" type="button" id="send_documents">Verificar conta
          Digital</a>
      </li>

      <li class="list-group-item">
        <a href="#" class="btn btn-outline-success disabled" type="button" id="credit_insert">Inserir Créditos na
          conta</a>
      </li>

      <li class="list-group-item">
        <a href="/account/create" class="btn btn-success" type="button" id="create_account">Criar conta
          digital</a>
      </li>

      <li class="list-group-item">
        <a href="#" class="btn btn-outline-success disabled">Alterar dados da conta</a>
      </li>

    </ul>

    <div class="card-body">
      <a href="#" class="card-link"></a>
      <a href="#" class="card-link"></a>
    </div>
  </div>




  <!-- FATURAS -->
  <div class="card">
    <img class="card-img-top" src="imgs/escobar.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">Faturas</h5>
      <p class="card-text">Lista de Faturas.</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/account/invoice" class="btn btn-success" type="button" id="new_invoice">Cadastrar
          Fatura</a>
      </li>

      <li class="list-group-item">
        <a href="/account/invoices/list-open" class="btn btn-success">Faturas à Vencer</a>
      </li>

      <li class="list-group-item">
        <a href="#" class="btn btn-outline-success disabled">Faturas Pagas</a>
      </li>

      <div class="card-body">
        <a href="#" class="card-link"></a>
        <a href="#" class="card-link"></a>
      </div>
  </div>




  <!-- PERFIL -->
  <div class="card">
    <img class="card-img-top" src="imgs/escobar.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">PERFIL</h5>
      <p class="card-text">Veja e Altere seus dados.</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/user/profile" class="btn btn-success">Visualizar dados</a>
      </li>

      <li class="list-group-item">
        <a href="#" class="btn btn-outline-success disabled">Alterar dados</a>
      </li>


      <div class="card-body">
        <a href="#" class="card-link"></a>
        <a href="#" class="card-link"></a>
      </div>
  </div>

</menu>




<script src="js/accountActions.js"></script>
<script src="js/main.js"></script>

<!-- <script src="js/accountScript2test.js"></script> -->