<!DOCTYPE html>
<!-- CSS -->
<style>
  body {
    margin: 0 auto;
  }

  .container {
    width: 500px;
    margin: 0 auto;
    /* border: 1px dotted gray; */
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  form {
    width: 400px;
    margin: 0 auto;
  }

  input:valid {
    border: 1px solid lightgreen;
  }

  .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }

  footer {
    margin-top: 10rem;
  }
</style>


<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="container">
    <form id="form-reset-password">
      <h4>Confira seu email, enviamos uma mensagem pra você.</h4>


      <div class="mb-3">
        <label for="token" class="form-label">Insira o token recebido no email.</label>
        <input type="token" class="form-control" id="token" name="token" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Digite o email usado no seu cadastrado.</label>
        <input type="email" class="form-control" id="email" name="email" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Digite uma senha nova.</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <button id="btn_reset_password" type="button" class="btn btn-success">Enviar</button>

      <a href="/forgot_password" class="btn btn-success">Voltar</a>
      <hr>

    </form>

    <footer>
      <%- include('../partials/footer') %>
    </footer>

    <script src="js/reset_password.js"></script>
</body>