<style>
  .navbar {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid green; */
  }

  .form-inline {
    text-align: right;
    /* border: 1px solid red; */
    font-size: small;
  }

  #btn_logout {
    font-size: 12px;
    font-weight: bold;
    line-height: 1rem;
    border: none;
  }

  .userEmail {
    line-height: 0;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/index">KapiPay 💸</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <h4 class=" welcome-title"> Bem vindo </h4>

    <span class="navbar-logout-button">
      <p class="userEmail">
        <%= email %>
      </p>
      <button id="btn_logout" type="button" class="btn btn-sm btn-outline-secondary"> Logout </button>
    </span>
  </form>
</nav>



<script src="/js/logout.js"></script>