<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Kapi Pay 💸</a>

  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a class="nav-link" href="/about">Minha Conta</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/">Sobre</a>
    </li>

  </ul>

  <p class="logout">
  <form id="logout">
    <button class="btn" type="submit">
      User | Logout
    </button>
  </form>
  </p>

</nav>

<style>
  * {
    text-decoration: none;
    list-style: none;
  }

  ul {
    /* border: 1px solid red; */
  }

  p.logout {

    /* border: 1px solid black; */
  }
</style>