<style>
  * {
    text-decoration: none;
    list-style: none;
  }

  ul {
    /* border: 1px solid red; */
  }

  p.logout {

    /* border: 1px solid black; */
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  /* .nav-logout {
    display: flex;
    flex-direction: row;
    justify-content: right;
  } */
</style>

<!-- ///// -->

<body>


  <nav class="navbar navbar-expand-sm navbar-light bg-light">


    <a class="navbar-brand" href="/">Kapi Pay 💸</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">Minha Conta</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/">Sobre</a>
      </li>
    </ul>

    <button id="btn_logout" type="button" class="btn btn-sm btn-outline-secondary">
      User | Logout
    </button>


  </nav>

  <script src="/js/logout.js"></script>
</body>